
p{
    max-width: 1600px;
    margin: 0 auto

}
div.a {
    text-align: center;
  }
  
  div.b {
    text-align: left;
  }
  
  div.c {
    text-align: right;
  }
  
  div.c {
    text-align: justify;
  }

  #background {
    height: 725px;
}

body {
    background-color: #c4bdbd; 
}
header {
    background-color:rgba(19, 41, 3, 0.7);
}
nav a:hover {
    background-color: black;
}